
.vscode/settings.json
__pycache__/archivos.cpython-311.pyc
__pycache__/clasePersona.cpython-311.pyc
__pycache__/clasePersona.cpython-311.pyc
__pycache__/funciones.cpython-311.pyc
__pycache__/GUI.cpython-311.pyc
__pycache__/clasePersona.cpython-311.pyc
__pycache__/funciones.cpython-311.pyc
